.divPrincipal{
    background-color: rgb(255, 234, 203);
    padding: 2rem;
    color: rgb(80, 80, 80);
    width:40vh;
    
}

.divPrincipal h2 {
    color: rgb(56, 56, 56);
    padding-bottom: 1rem;
    
}


.divSospechosos, .divArmas, .divHabitaciones {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    padding-bottom: 0.5rem;
}

.divSospechososContainer, .divArmasContainer, .divHabitacionesContainer {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
}