.btn {
  width: 100%;
  padding: 0.9rem 1.2rem;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.5px;
}

.btnLogin,
.btnRegister,
.btnHome {
  background-color: #ae0000;;
  color: #fff;
  box-shadow: 0 0 15px rgba(255, 38, 0, 0.3);
}

.btnLogin:hover,
.btnRegister:hover,
.btnHome:hover {
  background-color: #ae0000;;
  transform: scale(1.05);
  box-shadow: 0 0 25px #ae0000(255, 8, 0);
}
