.tablero {
  display: grid;
  grid-template-columns: repeat(16, 1fr); /* 12 columnas */
  grid-template-rows: repeat(12, 1fr);    /* 12 filas */
  width: 115vh; /* 870px */
  height: 100vh;  /* 603px */
  margin: 0 auto; /* Centra el tablero */
}

.cuadrado {
  background-color: #000000; /* Color de fondo */
  width: 100%;
  height: 100%;
}

.tunel {
  background-color: white;
  border: 2px solid #ae0000;
  color:black;
  align-content: center;
  
}

.salida {
  display: grid;
  background-color: white;
  margin: 2px;
  border: 2px solid black;
  color: black;
  align-items: center;

}

.habitacion {
  background-color: #ae0000;
}

.casillaNormal {
  display: grid;
  background-color: black;
  margin: 2px;
}

.entrada {
  display: flex;
  border-top: 10px solid black;
  background-color: #ae0000;
  color:#000000;
  align-items: center;
  
}

