/* Fuente moderna */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url("/bd404d84-e9d5-46fc-b2ab-da4ff564f15e.png") center/cover no-repeat fixed;
  color: #fff;
  min-height: 100vh;
}
